Repository muratkeremozcan/gha-book, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, dependencies, github-actions, source, documentation, tests, configuration

.github/labeler.yml:

# This is the configuration file that defines the rules

# Add 'repo' label to any root file changes
repo:
  - '*'

# Conventional Commit Style Labels
feat:
  - title: '^feat:.*'

fix:
  - title: '^fix:.*'

chore:
  - title: '^chore:.*'

docs:
  - title: '^docs:.*'

style:
  - title: '^style:.*'

refactor:
  - title: '^refactor:.*'

perf:
  - title: '^perf:.*'

test:
  - title: '^test:.*'

# Path-based Labels
dependencies:
  - 'package.json'
  - 'package-lock.json'
  - '**/package.json'
  - 'pom.xml'
  - 'build.gradle'
  - '**/requirements.txt'

github-actions:
  - '.github/**/*'
  - 'actions/**/*.yml'
  - 'actions/**/*.yaml'
  - '.github/workflows/**'

source:
  - 'src/**/*'
  - 'actions/**/src/**/*'
  - '**/*.ts'
  - '**/*.js'
  - '!**/*.test.*'
  - '!**/*.spec.*'
  - '!dist/**/*'

documentation:
  - '**/*.md'
  - 'docs/**/*'
  - 'README.md'
  - 'CHANGELOG.md'

tests:
  - 'actions/**/*.test.*'
  - 'actions/**/*.spec.*'
  - 'src/**/*.test.*'
  - 'src/**/*.spec.*'
  - '**/__tests__/**/*'

configuration:
  - '**/*.json'
  - '**/*.yaml'
  - '**/*.yml'
  - '**/*.config.*'
  - '.env*'
  - '!.github/**/*'  # Exclude GitHub Actions configs from generic config label

merge-gatekeeper
  .github/dependabot.yml
  .github/workflows/merge-gatekeeper.yml
Labels: github-actions, source, configuration

fix dependabot
  .github/dependabot.yml
Labels: github-actions, source, configuration

docs: readme-update
  .github/workflows/pr-checks.yml
  README.md
  actions/answer-action/Dockerfile
  actions/answer-action/action.yml
  actions/answer-action/entrypoint.sh
  actions/setup-ts-project/action.yml
Labels: repo, github-actions, source, documentation, configuration

skip docker actions
  actions/goodbye-world/dist/goodbye-world.js
  actions/hello-world/dist/hello-world.js
  esbuild.config.js
Labels: repo, source, configuration

build
  esbuild.config.js
Labels: repo, source, configuration

chore: yml comments
  .github/workflows/auto-yml-lint.yml
  .github/workflows/ch3-event-triggers-matrix-.yml
Labels: github-actions, source, configuration
