Repository muratkeremozcan/gha-book, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, dependencies, github-actions, documentation, tests, configuration

test: labeler 2
  .github/workflows/auto-dependabot.yml
  .npmrc
  .nvmrc
Labels: repo, github-actions, configuration

auto labeler
  .github/workflows/auto-dependabot.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/ch3-variable-passing-secrets-envvars-debug-lint.yml
  .github/workflows/yml-lint.yml
Labels: github-actions, configuration

PR
  .github/workflows/ch3-variable-passing-secrets-envvars-debug.yml
Labels: github-actions, configuration

test: labeler 3
  README.md
Labels: repo, documentation

feat: ts
  .eslintignore
  .eslintrc.js
  .github/workflows/auto-labeler.yml
  .github/workflows/ch3-variable-passing-secrets-envvars-debug.yml
  .github/workflows/pr-checks.yml
  .prettierrc
  esbuild.config.js
  node_modules/.package-lock.json
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
Labels: repo, dependencies, github-actions, configuration

lint
  .github/workflows/pr-checks.yml
Labels: github-actions, configuration

feat: ts
  .github/workflows/test-ts-actions.yml
  .gitignore
  .nvmrc
  README.md
  actions/goodbye-world/action.yml
  actions/goodbye-world/dist/goodbye-world.js
  actions/goodbye-world/src/goodby-world.test.ts
  actions/goodbye-world/src/goodbye-world.ts
  actions/hello-world/action.yml
  actions/hello-world/dist/hello-world.js
  actions/hello-world/src/hello-world.test.ts
  actions/hello-world/src/hello-world.ts
  esbuild.config.js
  jest.config.js
  node_modules/.package-lock.json
  package-lock.json
  package.json
  src/index.test.ts
Labels: repo, dependencies, github-actions, documentation, tests, configuration

lint
  src/index.test.ts
Labels: tests

build test
  .github/workflows/pr-checks.yml
  .github/workflows/test-ts-actions.yml
Labels: github-actions, configuration

leaner
  .github/workflows/test-ts-actions.yml
Labels: github-actions, configuration

naming
  .github/workflows/auto-yml-lint.yml
  .github/workflows/pr-checks.yml
Labels: github-actions, configuration

.github/labeler.yml:

# This is the configuration file that defines the rules

# Add 'repo' label to any root file changes
repo:
  - '*'

# Conventional Commit Style Labels
feat:
  - title: '^feat:.*'

fix:
  - title: '^fix:.*'

chore:
  - title: '^chore:.*'

docs:
  - title: '^docs:.*'

style:
  - title: '^style:.*'

refactor:
  - title: '^refactor:.*'

perf:
  - title: '^perf:.*'

test:
  - title: '^test:.*'

# Path-based Labels
dependencies:
  - 'package.json'
  - 'package-lock.json'
  - '**/package.json'
  - 'pom.xml'
  - 'build.gradle'
  - '**/requirements.txt'

github-actions:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'

documentation:
  - '**/*.md'
  - 'docs/**/*'
  - 'README.md'
  - 'CHANGELOG.md'

tests:
  - 'pw/**/*'
  - 'cypress/**/*'
  - '**/*.test.*'
  - '**/*.spec.*'

configuration:
  - '**/*.json'
  - '**/*.yaml'
  - '**/*.yml'
  - '**/*.config.*'
  - '.env*'
